<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Fixed top</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active"><%= link_to 'Index', todos_path %> <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link"><%= link_to 'Lists', todos_list_path %></a>
      <a class="nav-item nav-link"><%= link_to 'Create new', create_path %></a>
    </div>
  </div>
    </nav>

<div class="row">
  <div class="cold-md-2">

  </div>
  <div class="cold-md-2">

  </div>
  <div class="cold-md-2">

  </div>
  <div class="cold-md-2">

  </div>
  <div class="cold-md-2">

  </div>
  <div class="cold-md-2">

  </div>
</div>

<div class="row">
  <div class="cold-md-2">

  </div>
  <div class="cold-md-2">

  </div>
  <div class="cold-md-2">

  </div>
  <div class="cold-md-2">

  </div>
  <div class="cold-md-2">

  </div>
  <div class="cold-md-2">

  </div>
</div>
  </body>
</html>
